{% extends 'base.html' %}

{% block content %}
    <h1>GAME STORE</h1>
    
    <h5>Name: {{name}}</h5>

    <h5>Sesi terakhir login: {{ last_login }}</h5>

    <h5>Current Game Stock: {{stock}}</h5> <!-- Bonus Poin -->

    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card product-card {% if forloop.last %}last-product{% endif %}">
                    <form action="{% url 'main:remove_product' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <h3>{{product.name}}</h3>
                    <p>Price: {{product.price}}</p>
                    <p>Description: {{product.description}}</p>
                    <p>Amount: {{product.amount}}</p>
                    <p>Date Added: {{product.date_added}}</p>
                    <form action="{% url 'main:add_product' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit" class="btn btn-success">+</button>
                    </form>
                    <form action="{% url 'main:sell_product' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit" class="btn btn-warning">-</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>

    <a href="{% url 'main:create_product' %}">
        <button class="btn btn-primary">
            Add New Product
        </button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button class="btn btn-secondary">
            Logout
        </button>
    </a>
    
    <style>
        .product-card {
            max-width: 300px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-bottom: 10px;
            background-color: #f9f9f9;
        }
        
        .product-card form {
            display: inline-block;
        }

        .last-product {
            background-color: green;
        }
    </style>
{% endblock content %}
