{% extends 'base.html' %}

{% block content %}
    <h1>GAME STORE</h1>
    
    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Sesi terakhir login: {{ last_login }}</h5>

    <h5>Current Game Stock: {{stock}}</h5> <!--Bonus  Poin-->
    <table>
        <tr>
            <th>Remove</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Date Added</th>
            <th>Add </th>
            <th>Sell </th>
        </tr>
    
        {% comment %} Stok Game yang tersedia {% endcomment %}
    
        {% for product in products %}
            <tr>
                <td><form action="{% url 'main:remove_product' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <button type="submit">delete</button>
                    </form>
                </td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.date_added}}</td>
                <td><form action="{% url 'main:add_product' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <button type="submit">+</button>
                    </form>
                </td>
                <td><form action="{% url 'main:sell_product' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <button type="submit">-</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>
    
{% endblock content %}